# -------------------------------
# Minio Configuration
# -------------------------------
MINIO_ROOT_USER=
MINIO_ROOT_PASSWORD=
MINIO_DOMAIN=
MINIO_REGION_NAME=
MINIO_REGION=

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_REGION=
AWS_DEFAULT_REGION=

WAREHOUSE=